*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --sans: system-ui, "Segoe UI", roboto, sans-serif;
  --heading: system-ui, "Segoe UI", roboto, sans-serif;
  --game-bg: oklch(0% 0 0deg);
  --game-text: oklch(40.38% 0.166 260.17deg);
  --game-width: min(80vw, 80vh);

  background-color: var(--game-bg);
  color: var(--game-text);
  font-family: var(--sans);
  font-size: 1.125rem;
  line-height: 1.45;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(html, body) {
  overscroll-behavior-y: none;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--game-text);
  font-family: var(--heading);
  font-weight: 500;
  font-size: 2.5em;
}

header {
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  width: var(--game-width);
  border: 1px solid var(--game-text);
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;

  span {
    color: var(--game-text);
  }
}

.canvas {
  width: var(--game-width);
  height: auto;
  aspect-ratio: 320 / 192;
}
